.allGoods{
    width:1200px;
    margin:auto;
    height:700px;
    /*padding-top:50px;*/
    /*display:flex;*/
    padding: 50px;
    padding-left:10%;
    background-color: white;

}
.home{
    padding-top:50px;
    background-color: #eeeff3;
}
.clear{
    clear: both;
}