.allGoods{
    width:1200px;
    margin:auto;
    height:700px;
    /*padding-top:50px;*/
    /*display:flex;*/
    padding: 50px;
    padding-left:10%;
    background-color: white;

}
.home{
    padding-top:50px;
    background-color: #eeeff3;
}
.clear{
    clear: both;
}
.shopping-cart{
    background-color: #1891ff;
    border-radius: 35px;
    border: 1px solid #e8e8e8;
    width:35px;
    height:35px;
    line-height:35px;
    color:white;
    position: relative;
    top:-50px;
    left:1200px;
    /*font-size:1.6em;*/
}
.shopping-cart-list{
    width:300px;
    height:200px;
    border:1px solid #e8e8e8;
    box-shadow: gray 0px 3px 10px 2px;
    position: relative;
    bottom:300px;
    left:900px;
}